<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Number Game</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Welcome to the Random Number Game</h1>
    <form action="/user/register" method="POST">
        <input type="text" name="username" placeholder="Enter your username" required>
        <input type="number" name="score" placeholder="Enter your guess (0-100)" required>
        <button type="submit">Submit</button>
    </form>
    <form action="/user/delete" method="POST">
        <button type="submit">I dont like competition</button>
    </form>
    <br>
    <a href="/user/leaderboard">View Leaderboard</a>
    <br><br>
    <h3><%= joke %></h3>
    <br><br>
    <table>
        <tr>
            <th>How close you are to the random number</th>
            <th>Your quote type</th>
        </tr>
        <tr>
            <td>More than 55 away</td>
            <td>Dark joke</td>
        </tr>
        <tr>
            <td> 55 > your difference > 25 </td>
            <td>Programming joke</td>
        </tr>
        <tr>
            <td>25 > your difference > 5</td>
            <td>Christmas joke</td>
        </tr>
        <tr>
            <td>Within 5 away</td>
            <td>Spooky joke</td>
        </tr>
    </table>
</body>
</html>
